#main{
    max-width:980px;
    margin: 0px auto;
    height:600px;
    padding-top: 150px;
    text-align: center;
}

#main h1{
    border-bottom:1px solid black;
    text-align: left;
    margin-bottom:50px;
}

#main input {
    padding:4px;
    border-radius: 20px;
    border:1px solid black;
}

#main button {
    border: none;
    background: transparent;
    border-radius: 20px;
    background-color: rgba(1,1,1,0.2);
}