#main{
    max-width:880px;
    margin:0 auto;
    padding-top: 150px;
}

.store_name{
    text-align: center;
    border-radius: 20px;
    border:1px solid black;
    padding:4px;
}
.store_features{
    width:450px;
    height:800px;
}

.store_features h2 {
    margin-bottom: 10px;
    margin-top: 20px;
    font-size:20px;
}
.store_prefecture{
    width:450px;
    height:900px;
}

.store_prefecture h2{
    margin-bottom: 10px;
    margin-top: 20px;
    font-size:20px;
}

.store_register{
    text-align: center;
    margin-top:50px;
}
.sotre_name{
    max-width: 200px;
    width:100%;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #999;
    margin:5px;
}

.brand_flex{
    display: flex;
    height: 50px;
    margin-bottom:20px;

}

.brand_flex p{
    font-size:10px;
    margin-top: 35px;
    margin-left: 10px;
    position: relative;
    bottom:5px;
}

.store_brand{
    color: rgba(0,105,255,0.9);
}

.store_textarea{
    resize:none;
    width: 300px;
    height: 200px;
    border-radius: 20px;
    padding: 10px;
}

.store_register_flex{
    display: flex;
    justify-content:space-between;
    border-top:1px solid black;
}

.store_button{
    margin-top: 30px;
    text-align: center;
}
/*ストア登録ボタン*/
button{
    border: none;
    background: transparent;
}

.button021 button {
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    max-width: 240px;
    padding: 10px 25px;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}

.button021 button::before {
  content: "";
  position: absolute;
  top: 20;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(107,182,255, 0.2);
  transition: all 0.3s;
}
.button021 button:hover::before {
  opacity: 0;
  transform: scale(0.4, 0.4);
}
.button021 button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border: 2px solid rgb(107,182,255, .4);
  transform: scale(1.2, 1.2);
}
.button021 button:hover::after {
  opacity: 1;
  transform: scale(1, 1);
}

.form-group input{
    border-radius: 20px;
    border:1px solid black;
    padding:1px;
    text-align: center;
}
.form_address{
    padding-top: 20px;
}


.form-prefecture input{
    border-radius: 20px;
    border:1px dashed black;
    padding:1px;
    text-align: center;
}

.hidden {
  display: none;

}

#mask {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;

}


#modal {
  background: #fff;
  width:400px;
  padding: 24px;
  border-radius: 10px;
  position: fixed;
  top: 10%;
  left: 15%;
  right: 10%;
  text-align: center;
  margin: 0 auto;
  z-index: 2;


}

#map{
    border-radius: 10px;
    width:400px;
    height:400px;
    margin-right:30px;
}

.phone{
    margin:0px;
}

.shop_register{
    height: 30px;
}

.shop_register_show_brand{
    margin-bottom: 0px;
    height:30px;
}



.check_brand{
    padding-top: 20px;
    width:100%;
    border-bottom:1px solid rgba(0,0,0,0.7);



}
.register_brand_show{
    text-align: left;
}

.modal_scroll{
     height:1000px;
     overflow: scroll;
}

.shop_register_detail_address input{
    border-radius: 20px;
    border:1px solid black;
    padding:4px;
    text-align: center;

}
.shop_register_detail_address p{
    margin-bottom:0px;
    margin-top:15px;

}

.shop_register_pref{
    margin-bottom: 0px;
    font-size: 15px;
}


.shop_register_staition{
    display: flex;
}

.zip{
    font-size:10px;
}

.form-prefecture p{
    margin-bottom:0px;
    margin-top: 10px;
    font-size: 10px;
}

.shop_register_search_address{
    display:flex;
}

.shop_register_detail_address p{
    font-size: 15px;
}

.shop_register_search{
    width:40px;
    height: 20px;
    border-radius: 20px;
    background-color: rgba(182,182,182,0.5);
    position: relative;
    top:27px;
    left: 10px;
    font-size: 10px;


}

.extracted_words p{
    padding-left: 10px;
    padding-right: 10px;
}

.staition_mins{
    padding-left: 10px;
    padding-top: 20px;
    font-size: 10px;
    margin: 0px;
}

.phone_text{
    border-radius: 20px;
    border:1px solid black;
    padding: 4px;
    text-align: center;
}

.error {
    font-size:10px;
}

.house_number_error p{
    font-size: 10px;
}

.phone_flex{
    display: flex;
}

.phone_flex p {
    margin:0px;
    font-size:10px;
    position: relative;
    top:32px;
    font-weight:bold;
}