body {
    margin: 0;
    font-family: "MS Pゴシック" ;
}

ul {
    list-style:none;
}

/* main */
.main {
    max-width: 980px;
    margin: 0 auto;
}
.main_gender  {
    padding-top:30px;
    padding-bottom: 10px;
    display: flex;
}

.main_gender p {
    margin:0px;
    padding-top:2px;
    padding-left: 8px;
}

.gender_all  {
    font-weight: bold;
}
.all p:hover{
    opacity: 0.6;
}


.gender_men{
    display: flex;
    margin-left:30px;
}

.gender_men input:hover{
    opacity: 0.6;
}

.gender_men p:hover{
    opacity: 0.6;
}

.gender_men input{
    padding-left: 10px;
    padding-top: 6px;
}

.gender_men p {
    margin-left: 5px;
    font-weight: bold;
    color:rgba(16,116,232, 0.7);
}



.gender_women{
    display: flex;
    margin-left:30px;
}

.gender_women input:hover{
    opacity: 0.6;
}

.gender_women p:hover{
    opacity: 0.6;
}

.gender_women input{
    padding-left: 10px;
    padding-top: 6px;
}

.gender_women p {
    margin-left: 5px;
    font-weight: bold;
    color: rgba(255,64,212,0.6);
}

.main_search{
    padding-bottom: 40px
}

.swiper-slide{
    text-align: center;
}

.swiper-slide img{
    width:100%;
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
    position: relative;
}

.swiper-title{
    width:200px;
    height: 80px;
    position: relative;
    bottom:100px;
    background-color: rgba(66, 59, 59, 0.8);
    border-radius: 30px
}

.swiper-title h1  {
    color: #fff;
    margin: 0px;
}

.swiper-title h2 {
    color: #fff;
    margin: 0px;
}

.swiper_pagination{
    text-align: center;
}



.user_icon img{
    width: 30px;
    height: 30px;

}

.icon_img:hover{
   opacity: 0.7;
}

   .icon_img {
      width: 30px;
      height: 30px;
      position: relative;
    }
    .user_name {
      display: none;
      width: 300px;
      position: absolute;
      top: 20px;
      left: 900px;
      padding: 16px;
      border-radius: 5px;
      background-color:  rgba(66, 59, 59, 0.8);
      color: #fff;
      font-weight: bold;
    }
    .user_name:after {
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      bottom: -19px;
      margin-left: 10px;
      border-color: rgba(51, 204, 153, 0);
      border-top-color: #33cc99;
      border-width: 10px;
      pointer-events: none;
      content: " ";
    }
    .icon_img:hover + .user_name {
      display: block;
    }

#footer{
    background-color: rgba(201, 202, 203, 0.343);
}

.footer_element{
    max-width:980px;
    margin:0 auto;
    height: 300px;
    padding:20px;
}

.footer_element p {
    margin-bottom: 0px;

}

.flixed_flex{
    display: flex;
    justify-content:space-between;
    margin-bottom:40px;
}

/*スクロール*/
.cd-fixed-bg {
    /*max-width: 1200px !important;*/
    width: 49%;
    height:800px;
    position: relative;
    min-height: 100%;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 2;
}



.cd-fixed-bg.cd-bg-1　h1{
    color:#fff;
}

/*--固定背景01--*/
.cd-fixed-bg.cd-bg-1  {
  background-image: url('/img/yamagata-jpg-1655185796.jpeg');
}

.cd-fixed-bg.cd-bg-1 h1{
    position:relative;
    top:800px;
    font-family: "Sawarabi Minchoi";
}


.cd-fixed-bg.cd-bg-2{
   margin-top: 450px;
   background-image: url('/img/tumblr_otxlwgmmzI1taz8xlo1_1280.jpeg');
}

.cd-fixed-bg.cd-bg-2 h1{
    position: relative;
    bottom:300px;
}

.fixed_title{
    width:300px;
}

.position_flex ul{
    display: flex;
}

.position_flex ul {
    display: flex;
}

.position_flex li p {
    margin-left:10px;
    margin-top: 0px;
    font-size:8px;
}
