/* ---common--- */
body {
    margin: 0;
}

ul {
    list-style: none;
}

.conteiner {
    background-color: rgba(240, 238, 238, 0.884);
    background-size: 100%;
    padding-top: 10px;
    height: 100px;
}

/* ---header--- */
#header {
    max-width: 980px;
    margin: 0 auto;
}

.header {
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_flex {
    display: flex;
    height: 30px;
    margin-left: 40px;
}

/* ---header_logo--- */

.header_logo {
    margin-right: 15px;
    margin-top: 5px;
}

.header_login {
    margin-right: 50px;
}

.header_login p {
    font-size: 15px;
}

.header_holder {
    margin-top: 15px;
}

/* ---header_search--- */
.header_search {
    position: relative;
    display: flex;
}

.header_search_bar {
    border: none;
    border-radius: 1px;
    width: 450px;
    height: 15px;
}

.header_search_logo {
    padding-left: 10px;
    position: absolute;
    top: 9px;
}

.header_search input[type="text"] {
    flex-grow: 1;
    padding: 8px;
    border: none;
    border-radius: 7px;
}

.header_search input:focus {
    outline: 0;
    border: none;
}

/* ---header_menu--- */
.header_menu {
    display: flex;
    justify-content: space-between;
    align-items: inherit;
    margin-top: 30px;
    height: 30px;
}

.header_menu li {
    margin-right: 30px;
    margin-left: 30px;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 40px;
    border-bottom: 2px solid black;
}

.header_menu h1 {
    margin: 0;
    padding: 10px;
    font-size: 15px;
    
}

/* ---main_gender--- */
.main_container {
    max-width: 980px;
    margin: 0 auto;
}

.main_gender {
    max-width: 980px;
    margin: 0 auto;
}
.main_gender ul {
    display: flex;
    height: 40px;
}

.main_gender_icon {
    margin-right: 40px;
    width: 30px;
    height: 30px;
    background-color: azure;
}

.main_gender_all {
    padding-top: 10px;
}

.main_gender_all p{
    width: 50px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 5px;

}








/* ---swiper-pagination--- */

/* コンテナー */
.swiper-container {
    max-width: 3000px;
    margin: 0 auto;
}

/* スライダーのwrapper */
.infinite-slider .swiper-wrapper {
    transition-timing-function: linear;
}

/* スライド */
.infinite-slider .swiper-slide {
    height: 320px !important;
    /* 高さを指定 */
    width: auto !important;
}

/* スライド内の画像 */
.infinite-slider .swiper-slide img {
    width: 500px;
    height: 100%;
    margin-right: 30px;
    border-radius: 20px;
}

.swiper_pagination {
margin-left: 47%;
}


/* ---main_search--- */
.main_search li h3 {
    color: rgba(75, 76, 76, 0.711);
}





















/* ---main_below--- */
.main_below {
    display: flex;
    margin-top: 700px;
}

.main_search {
    padding-right: 50px;
    border-right: 2px solid black;
}

.main_rank {
    margin-left: 100px;
    width: 650px;
}
/* ---swiper-pagination-below--- */
.swiper-pagination-below  {
    width:2000px;
}

.swiper-pagination-below img {
    border-radius: 10px;
}


/* ---footer--- */
#footer {
    background-color: rgba(240, 238, 238, 0.884);
    height: 400px;
    text-align: right;


}

.footer_store_register {
    max-width: 980px;
    width: 100%;
    margin: 0 auto;
    padding-top: 40px;
}
